/* - - - - - - - - - - VARIABLES - - - - - - - - - - */

@white: #ffffff;
@highlight: #7ac483;
@grey_background: #f2f1f8;
@grey_copy: #b9b7c6;
@dark_grey: #3f3d4e;


/* - - - - - - - - - - GLOBAL STYLES - - - - - - - - - - */

.wrapper {
  width: 1440px;
  max-width: 90%;      /* below 1440 px, will default to 90% width */
  margin: 0 auto;
}

.button {   /* generic styles  */
  border: none;
  outline: none;
  border-radius: 2rem;
  padding: .5rem 3rem;
  font-weight: 700;
  color: @white;
  text-decoration: none;
  text-align: center;
}

.button_highlight {
  background: @highlight;
}

.button_secondary {
  background: rgba(250,250,250,0.35); 
}

/*- - - - - - - - - - BANNER STYLES - - - - - - - - - - */

body {
  font-family: Helvetica, sans-serif;
}

#banner {
  background-image: url(../images/banner2.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  color: @white;  
  header {
    padding: 2rem 0; 
  }
  #logo {
    color: @white;
    font-weight: 700;
    font-size: 1.35rem;
    float: left;
    margin: 0;
    span {
      font-weight: 400; 
    }
  }
  nav {
    float: right; 
      a {
      color: @white;
      font-weight: 700;
      text-decoration: none;
      margin-left: 2rem;
/*       a:hover {
        color: @white;
        text-decoration: none;
      } */
    }
  }
  .content {
    padding: 2rem 0 6rem 0;
    .title, .sub_title {
      color: @white;
      text-align: center;
    }
    .title {
      font-size: 3.rem;
      margin: 0;
    }
    .sub_title {
      font-weight: 400;
      font-size: 1.35rem;
      width: 500px;
      margin: 0 auto 2rem auto;
      line-height: 1.75;
    }
    .button_wrapper {
      text-align: center;
      margin: 3rem 0;
    }
  }
}











